body {
    margin: 0px;
}

h1 {
    margin-block-start: 0px;
}

.container {
    width: 1140px;
    margin: auto;
}

.num{
    background-color: green;
    font-size: 30px;
    margin: 5px;
    padding: 25px;
    border: 2px black solid;
    text-align: center;
}

.floatL {
    float: left;
}

.floatR {
    float: right;
}

.clear {
    clear: both;
}

.ta-r {
    text-align: right;
}

.ta-l {
    text-align: left;
}

.ta-c {
    text-align: center;
}

.fs25 {
    font-size: 25px;
}

.wid30 {
    width: 30%;
}

.wid70 {
    width: 65%;
}

.width100 {
    display: inline-block;
    width: 240px;
}

.marT100 {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

header {
    background-color: rgb(206, 206, 206);
    padding: 30px 0px;
}

.bac_col_user {
    background-color: turquoise;
    position: relative;
}

#btn_logout {
    margin: 10px 0px;
}

#btn_logout a {
    padding: 20px 35px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

#btn_logout a:hover {
    background-color: rgb(121, 109, 109);
    color: black;
}

.userUpdate, .adminUpdate {
    width: 48%;
    padding: 73px 10px;
    text-align: center;
}

.error {
    border: red solid 2px;
}

.pageAdmin > div:nth-child(2) {
    border-left: black solid 2px;
}

h1 {
    width: 1000px;
    text-align: center;
}

.comment_error, .comment_error_update {
    margin: auto;
    max-width: 170px;
    color: red;
    font-size: 13px;
}

input, select {
    display: inline-block;
    width: 200px;
    height: 30px;
}

select {
    width: 202px;
    box-sizing: unset;
}

input[type="submit"] {
    width: 188px;
    margin-left: -10px;
    border: none;
    box-sizing: unset;
}

input[type="submit"]:hover {
    background-color: rgb(121, 109, 109);
    cursor: pointer;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}

.b_colBody {
    background-color: rgb(116, 146, 241);
}

.police {
    width: 100%;
    padding: 272px 0px;
    font-size: 70px;
    text-align: center;
    background-color: red;
    animation: police 300ms 0ms infinite linear;
}

@keyframes police {
    from {background-color: blue;}
    to {background-color: red;}
}

#show_details {
    width: 193px;
}

#btn_remove {
    position: absolute;
    text-decoration: none;
    font-size: 20px;
    color: red;
    right: 10px;
    top: 10px;
    background-color: grey;
}

#btn_remove:hover {
    color: black                                                                                                                ;
}

#alert_exist {
    position: fixed;
    z-index: 1;
    top: 15%;
    left: 33%;
    width: 400px;
    background-color: grey;
    border: black solid 2px;
    border-radius: 10px;
}

#mess_exist {
    margin: 0px 0px 20px 0px;
}

#exist_employee {
    display: none;
    font-size: 15px;
    background-color: rgb(175, 175, 175);
    border-top: black solid 1px;
    border-radius: 0px 0px 10px 10px;
}

#alert {
    position: fixed;
    z-index: 1;
    top: 25%;
    left: 33%;
    width: 400px;
    border: black solid 2px;
    border-radius: 10px;
    padding-bottom: 20px;
    background-color: white;
}

#alert h3 {
    margin-top: 0px;
    padding: 10px 0px;
    background-color: gray;
    font-size: 30px;
    border-radius: 8px 8px 0px 0px;
}

.co-red {
    color: red;
}

.co-green {
    color: green;
}